html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: #0f1117;
    color: white;
    font-family: Arial, sans-serif;
}

/* HERO */

.hero {
    position: relative;
    height: 100vh;
    background: url('img/header.png') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
}

.hero h1 {
    position: relative;
    font-size: 48px;
}

/* ПРЕЗЕНТАЦИЯ */

.rule {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    height: 100vh;
    padding: 0 10%;
    opacity: 0;
    transform: scale(0.95);
    transition: all 0.8s ease;
}

.rule.active {
    opacity: 1;
    transform: scale(1);
}

.rule:nth-child(even) {
    flex-direction: row-reverse;
}

.rule img {
    width: 350px;
    transition: transform 0.6s ease;
}

.rule.active img {
    transform: scale(1.05);
}

.rule-content {
    max-width: 600px;
}

footer {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #111;
}